<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Abr:</strong>
  <%= @team.abr %>
</p>

<p>
  <strong>Win:</strong>
  <%= @team.win %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @team.loss %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @team.avg %>
</p>

<p>
  <strong>Hw:</strong>
  <%= @team.hw %>
</p>

<p>
  <strong>Hl:</strong>
  <%= @team.hl %>
</p>

<p>
  <strong>Aw:</strong>
  <%= @team.aw %>
</p>

<p>
  <strong>Al:</strong>
  <%= @team.al %>
</p>

<p>
  <strong>Pf:</strong>
  <%= @team.pf %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @team.pa %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @team.diff %>
</p>

<p>
  <strong>Division:</strong>
  <%= @team.division %>
</p>

<p>
  <strong>Playoffs:</strong>
  <%= @team.playoffs %>
</p>

<p>
  <strong>Pennants:</strong>
  <%= @team.pennants %>
</p>

<p>
  <strong>Championships:</strong>
  <%= @team.championships %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
