<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% home, away = get_score %>
  <% @match.h_score ||= home %>
  <% @match.a_score ||= away %>
  <% h = Team.find_by_name @match.home %>
  <% a = Team.find_by_name @match.away %>

  <div class="field">
    <%= f.label :away %>
    <%= f.text_area :away %>
  </div>

  <div class="field">
    <%= f.label :a_score %>
    <%= f.number_field :a_score %>
  </div>

  <div class="field">
    <%= f.label :home %>
    <%= f.text_area :home %>
  </div>

  <div class="field">
    <%= f.label :h_score %>
    <%= f.number_field :h_score %>
  </div>

  <div class="field">
    <%= f.label :week %>
    <%= f.number_field :week %>
  </div>

  <div class="actions">
    <%
      if not @match.happened
        h.increment!(:pf, home)
        h.increment!(:pa, away)
        a.increment!(:pf, away)
        a.increment!(:pa, home)
        if home > away # hw, al
          h.increment!(:hw)
          h.increment!(:win)
          a.increment!(:al)
          a.increment!(:loss)
        else # hl, aw
          a.increment!(:aw)
          a.increment!(:win)
          h.increment!(:hl)
          h.increment!(:loss)
        end
        h.save!
        a.save!
        @match.happened = TRUE
      end
    %>
    <%= f.submit %>
  </div>
<% end %>
