<!--<div class="collapsible-body"> <%= "#{match.id} \t #{match.away} #{match.a_score} @ #{match.home} #{match.h_score}" %> </div>-->
<tr>
  <td style="text-align: center"> <div class="time"> <%= match.away %> </div> </td>
  <td style="text-align: center"> <%= match.a_score %> </td>
  <td style="text-align: center"> <%= match.h_score %> </td>
  <td style="text-align: center"> <%= match.home %> </td>
  <% if match.happened %>
    <td> <%= link_to 'Play Ball', edit_match_path(match), class: "waves-effect waves-light btn green disabled darken-4" %> </td>
  <% else %>
    <td> <%= link_to 'Play Ball', edit_match_path(match), class: "waves-effect waves-light btn green darken-4" %> </td>
  <% end %>
</tr>